body {
    background: red;
    font-family: "Goudy Bookletter 1911", sans-serif;

    padding: 20px;
    margin: 0;
    text-align: center;
    
    
}
img {
    
    width: 600px;
    height : 100px;
    display: flex;
    margin-left: 10%;
    margin-right: auto;
}
p {
    font-weight: 600;
    margin-bottom: 5px;
    
}
button {
    background: white;
    color: black;
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;



}

#error {
    color: red;
    font-weight: 200;
}
/* This is a CSS File  */
/* This is a comment */




